
/* Section club */

.club2 {
    padding-top: 5%;
}

/* Section balade en forêt */

.imgbalade img {
    padding-top: 5%;
    max-width: 40%;
    max-height: 40%;
    padding-left: 10%;
    position: absolute;
}
p{
    font-family: 'Lateef-Regular';
    font-size: 20px;
}

.text-balade {
    margin-left: 60%;
    margin-right: 5%;
    margin-top: 16%;
    font-family: 'Lateef-Regular';
}

/* Images et textes sur les stages */

.imgstage img {
    margin-left: 55%;
    margin-top: 10%;
    margin-right: 10%;
    position: absolute;
    max-width: 40%;
    max-height:40% ;
}
.text-stage2 {
    margin-left: 20%;
    margin-right: 50%;
    margin-top: 20%;
}

/* Image et texte sur les saisons en concours */

.imgconcours img {
    padding-left: 10%;
    padding-top: 10%;
    max-width: 40%;
    max-height: 40%;
    position: absolute;
}

.text-concours {
    margin-left: 60%;
    margin-right: 5%;
    margin-top: 20%;
    font-family: 'Lateef-Regular';
}

/*  section sur les textes et images sur les cours tt au longs de l'année */

.imgcours img {
    margin-left: 55%;
    margin-top: 10%;
    margin-right: 10%;
    position: absolute;
    max-width: 40%;
    max-height:40% ;
}
.text-cours2 {
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 20%;
}



 /* Essaie  */

.poney{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.poney img{
width: 50%;
}
.poney-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Section sur la présentation des poneys du club */

.presponey h2 {
    padding-top: 15%;
}

/* section présentation des chevaux */


/* .preschevaux h2 {
    padding-top: 110%;
} */


.chevaux{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.chevaux img{
width: 50%;
}
.chevaux-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.clubfooter{
    padding-top: 2%;
}


/* Responsive mobile */

@media (max-width: 767px) {

    p{
        font-size: 18px;
    }

    .presponey p {
        font-size: 16px;
        
    }
    .presponey h2 {
        padding-top: 25%;
        padding-bottom: 7%;
    }
    .preschevaux p {
        font-size: 16px;
    }
    .preschevaux h2{
        padding-bottom: 7%;
    }
}

    