h2 {
    padding-top: 10%;
}

h3{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 30px;
    font-family: 'HermeneusOne';
    color: black;
}
p {
    font-size: 20px;
    font-family: 'Lateef-Regular';
}

.infogenerales p {
    padding-left: 15%;
    padding-right: 15%;
    color: black;
}

.realisation p {
    padding-left: 15% ;
    padding-right: 15%;
    
}

.hebergeur p {
    padding-left: 15%;
    padding-right: 15%;
    color: black;
}

.propriété p {
    padding-left: 15%;
    padding-right: 15%;
    color: black;
}

.donneeperso p  {
    padding-left: 15%;
    padding-right: 15%;
    color: black;
}
.contacter p {
    padding-left: 15%;
    padding-right: 15%;
    color: black;
}